/*===============================
    Media max-width:768px;
===============================*/
@media only screen and (max-width : 768px) {

    .navbar {
        background-color: transparent;
        min-height: 60px;
        margin-bottom: 0;
        padding: 0;
    }

    .navbar-nav>li {
        float: none;
        display: block;
        padding: 0px;
        border: 1px solid #21395f;
    }

    .navbar-nav {
        float: none;
        margin: 0;
        background: #1a2941;
        margin-right: -15px;
        margin-left: -15px;
    }

    .navbar-collapse {
        margin-top: 55px;
        width: 100%;
    }

    .nav {
         padding-top: 0; 
    }

    .navbar-nav>li>a {
        padding: 15px;
        color: #4285f4;
        font-size: 16px;
        text-transform: uppercase;
    }

    .navbar-nav>li>a:hover {
        color: #fff;
        background-color: #263d61;
        border-bottom: transparent;
    }

    .banner-btn .btn-clr {
        width: 100%;
    }

}

/*===============================
    Media min-width:768px;
===============================*/
@media only screen and (min-width : 768px) {

    .navbar-nav>li>a:hover {
        color: #fff;
        background-color: transparent;
    }

    .banner .profile-pic {
        width: 170px;
    }

    .banner h1 {
        font: 3rem'opensans-bold', cambria;
    }

    .banner p {
        font-size: 1.2rem;
    }

    #scrolldown .fa {
        padding-top: 2px;
    }

    .banner .social-links {
        font-size: 30px;
    }

    .banner .social-links li {
        padding: 20px;
    }

    .resume-bg {
        padding: 50px 40px 50px 40px;
    }

    #resume ul.a li{
        margin-left: 40px;
    }

    .project-bg {
        padding: 50px 30px 50px 30px;
    }

    #contact textarea {
        height: 10rem;
    }

    #contact input[type=text], input[type=email], input[type=number] {
        margin-bottom: 10px;
        margin-top: 1px;
        width: 104%;
    }

}

/*===============================
    Media min-width:992px;
===============================*/
@media only screen and (min-width : 992px) {

    .profile-pic {
        width: 219px;
        margin: 100px 0 0 115px;
    }

    #about h2 {
        text-align: left;
    }

}

/*===============================
    Media min-width:1200px;
===============================*/
@media only screen and (min-width : 1200px) {

    .profile-pic {
        width: 250px;
        margin: 60px 0 0 140px;
    }

    #contact .intro p {
        text-align: center;
        font-size: 18px;
    }

    .banner p {
        color: #fff;
        font-family: cambria !important;
        font-size: 1rem;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
        margin: 0 0 0 0;
        margin-top: 15px;
        line-height: 25px;
    }

}