
.fb-ic {
    color: #3B5998!important;
}

.tw-ic {
    color: #55ACEE!important;
}

.gplus-ic {
    color: #DD4B39!important;
}

.li-ic {
    color: #0082CA!important;
}

.ins-ic {
    color: #2E5E86!important;
}

.yt-ic {
    color: #ED302F!important;
}

.git-ic {
    color: #333!important;
}

.btn-elegant {
    background: #072c49;
}