body,html{
    font-family: cambria;
    background-color: #1a2941;
    font-size: 17px;
    color: #000000;
    line-height: 2em;
}


.social-links > li > a:hover{
            color: #fff;
            opacity: 0.5;
} 

/*=========(Header)============*/

.header-bg{
    padding-bottom: calc(10rem - 56px);
    background-color: #1a2941;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
}

.center {
    display: block;
    text-align: -webkit-center;
    text-align: -moz-center; 
    text-align: -ms-center; 
    text-align: -o-center;
}

#canvas{
    display: inline-block;
    vertical-align: baseline;
    position: fixed;
    z-index: 0;
}

/*=========(Navigation)============*/

.navbar-toggle .icon-bar {
    display: block;
    width: 30px;
    height: 4px;
    border-radius: 1px;
    background: #4285f4;
}

.navbar {
    background: #1a2941;
    min-height: 75px;
    margin-bottom: 0;
    padding: 0;
}

.navbar-nav>li{
    float: none;
    display: inline-block;
    padding: 10px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4285f4;
    font-size: 16px;
}

.nav{
    padding-top: 23px;
}

.navbar-nav {
    float: right;
    text-align: center;
    margin: 0;
}

.nav>li>a:focus{
  background-color:transparent;
  color: #fff;

 }

/*=========(Banner)============*/

.banner p{
    color: #fff;
    font-family: cambria !important;
    font-size: 1rem;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
    margin: 0 0 0 0;
    margin-top: 20px;
    line-height: 25px;
}

.banner hr{
    border-top: 1px solid #4285f4;
}

.banner h1{
    color: #fff;
    font:2rem'opensans-bold', cambria;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}

.banner h3{
    color: #4285f4;
}

.banner {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 2;
    padding-top:7rem;
    padding-bottom:5rem;
}

.banner .social-links {
    margin: -20px 0 0px 0;
    font-size: 23px;
    text-align: center;
}

.banner .social-links .fa{
    color: #4285f4;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

.banner .social-links li {
    display: inline-block;
    padding: 10px;
}

#scrolldown .fa:hover {
    font-size: 2em;
    color: #fff;
    background: #4285f4;
    border: 2px solid #1c2a48;
    height: 45px;
    width: 50px;
    border-radius: 100%;
    padding-top: 5px;
}

#scrolldown .fa {
    font-size: 2em;
    color: #4285f4;
    background: transparent;
    border: 2px solid #4285f4;
    height: 45px;
    width: 50px;
    border-radius: 100%;
    padding-top: 5px;
}

/*=========(About)============*/


#about .mrgn{
    margin-left: 13%;
    margin-right: 13%;
}

#about.about-bg{
    background-color: #171f2a;
        padding-top: 60px;
     padding-bottom: 60px;
}

#about h2 {
    color: #4285f4;
    font-family: cambria;
    font-size: 30px;
    padding-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

#about .btn-clr {
    color: #4285f4;
    background: transparent;
    border: 2px solid #4285f4;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 1rem;
}

#about .btn {
    color: #4285f4!important;
}

#about .btn:hover {
    color: #fff!important;
}

#about .btn-clr:hover {
    color: #fff;
    background: #4285f4;
    border: 2px solid #4285f4;
    margin: 0 auto;
     display: inline-block; 
    width: 100%;
    margin-bottom: 1rem;
}

.profile-pic {
    float: none;
    border-radius: 100%;
    width: 200px;
    margin: 0 auto;
    border: 5px solid #203556;
}

#about p {
    color: #686868;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
    margin-bottom: 50px;
}

.btn-floating {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    margin: 10px;
}

.btn-floating, .btn-floating i {
    display: inline-block;
    line-height: 37px;
    color: #4285f4;
}

/*=========(Info)============*/

#info p{
    text-align: center;
    color: #4285f4!important;
}

#info {
    background-color: #1c232e;
    padding-bottom: 60px;
    padding-top: 60px;
}
