body,html{
    font-family: cambria;
    background-color: #1a2941;
    font-size: 17px;
    color: #000000;
    line-height: 2em;
}

.center {
    display: block;
    text-align: -webkit-center;
    text-align: -moz-center; 
    text-align: -ms-center; 
    text-align: -o-center;
}

/*=========(Navigation)============*/

.navbar {
    background-color: #1a2941;
    min-height: 75px;
    margin-bottom: 0;
    padding: 0;
}

.navbar-nav>li{
    float: none;
    display: inline-block;
    padding: 10px;
}

.navbar-nav>li>a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #4285f4;
    font-size: 16px;
}

.navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

.nav{
    padding-top: 23px;
}

.navbar-nav {
    float: left;
    text-align: center;
    margin: 0;
}

.nav>li>a:focus{
    background-color:transparent;
    color: #4285f4;

 }

/*=========(Resume)============*/

.skill-bg {
    background: #1a2941;
    padding-top: 7rem;
    padding-bottom: 2rem;
}

#skill h2 {
    font-family: cambria;
    color: #4285f4;
    font-size: 1.7rem;
    margin: 0px 0 30px;
    font-weight: 700;
    text-align: left;
}

#skill .percent{
    margin:  0;
}

.bars .skills {
    margin-top: 35px;
    list-style: none;
}

.bars li {
    position: relative;
    margin-bottom: 50px;
    background: #313e50;
    height: 30px;
}

#skill .bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #4285f4;
    display: inline-block;
    height: 30px;
    line-height: 42px;
}

.bars li em {
    font: 0.8rem 'opensans-bold', sans-serif;
    color: #909090;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    top: -30px;
}



/*=========(experience)============*/

#experience{
    background: #1c232e;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

#experience h2{
    font-family: cambria;
    color: #4285f4;
    font-weight: 700;
    text-align: left;
}

#experience h4 {
    color: #9791ff;
    margin-top: 2rem;
}

#experience p {
    color: #fff;
    font-style: italic;
}

#experience .mrgn-left{
    margin-left: 0rem;
}

#experience .desc li{
    list-style-type: disc;
    margin-left: 3rem;
    color: #909090;
}

/*=========(Project)============*/

.project-bg {
    background-color: #1a2941;
    padding-top: 7rem; 
    padding-bottom: 7rem;
}

#projects h2 {
    font-family: cambria;
    font-size: 1.7rem;
    color: #4285f4;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 700;
}

#projects p{
    font-size: 1rem;
    line-height: 25px;
    color: #909090;
    margin-bottom: 3rem;
    text-align: center;
}

#projects h4{
    color: #4285f4; 
    font-size: 1.2rem;
    text-align: center;
}

#projects .btn-clr{
    background-color: transparent;
    border: 1px solid #4285f4;
    width: 100%; 
}

#projects .btn-clr:hover{
    background-color: #4285f4!important;
    border: 1px solid #4285f4;
}

#projects .btn {
    color: #4285f4!important;
    margin: 0px;
}

#projects .btn:hover {
    color: #fff!important;
}

#projects span.fa{
    font-size: 60px;
    color: #6abaec;
}

#projects .inner-box{
    background-color: #243858;
    padding: 10px;
}

#projects .row .col-sm-4{
    margin-bottom: 2rem;
}


/*=========(Contact)============*/

#contact{
    margin-top: 7rem;
    margin-bottom: 5rem;
}

#contact .btn-clr {
    width: 100%;
    background-color: transparent;
    border: 1px solid #2c4b7f;
    color: #aa66cc;
}

#contact .btn-clr:hover {
    background-color: #4285f4;
}

#contact .btn {
    color: #909090!important;
    margin: 0px;
}

#contact .btn:hover{
    color: #fff!important;
    margin: 0px;
}

#contact .clr {
    color: #1c232e;
    background: #1c0621;
    border: 1px solid #aa66cc;
    margin: 3rem 0 1.4rem 0;
    padding: 30px;
}

#contact h1{
    font-family: cambria;
    font-size: 1.7rem;
    color: #4285f4;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
}

#contact .intro p{
   text-align: center;
   font-size: 1rem;
   color: #848383;
   line-height: 30px;
   margin-bottom: 4rem;
}

#contact .row p{
   text-align: center;
   font-size: 1rem;
   color: #909090;
   line-height: 30px;
}

#contact .btn-floating {
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 37px;
    height: 37px;
    padding: 0;
    background-color: #1c0621;
    border: 1px solid #aa66cc;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
    margin: 10px;
}

#contact .btn-floating, .btn-floating i {
    display: inline-block;
    line-height: 35px;
    color: #aa66cc;
}

#contact .btn-btn{
    margin-bottom: 30px;
}

#contact .social-links li {
    display: inline-block;
    padding: 25px;
}

#contact .social-links {
    margin: -10px 0 20px 0;
    padding: 0;
    font-size: 25px;
    text-align: center;
}

#contact .social-links .fa{
    margin-right: 20px;
}

.input-group input {
    border: 1px solid #2c4b7f;
}

.input-group input[type=text]:focus:not([readonly]).amber-border  {
    border: 1px solid #4285f4;
    box-shadow: none;
}

.input-group input[type=email]:focus:not([readonly]).amber-border  {
    border: 1px solid #4285f4;
    box-shadow: none;
}

.input-group input[type=number]:focus:not([readonly]).amber-border  {
    border: 1px solid #4285f4;
    box-shadow: none;
}

.input-group textarea{
    border: 1px solid #2c4b7f;
    resize: none;
    width: 100%;
    height: 8rem;
    margin-top: 0px;
}

.input-group .form-control:focus {
    border: 1px solid #4285f4;
}

.input-group .form-control {
    margin: 0;
    padding-left: 0rem;
    margin-bottom: 1rem;
}

.input-group[class*=col-] {
    padding-right: 1rem;
    padding-left: 1rem;
    display: grid;
}

.percent-width-95{
    width: 95%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;

}

 

.percent-width-80{
    width: 80%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;

}

.percent-width-70{
    width: 70%;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;

}