/* line 2, ../sass/style.scss */
.clear {
  clear: both;
}

/* line 6, ../sass/style.scss */
body {
  margin: 0;
  font-family: Helvetica,sans-seriff;
}

@media screen and (max-width: 480px) {
  /* line 12, ../sass/style.scss */
  html {
    font-size: .8em;
  }
}

/* line 3, ../sass/_header.scss */
.header {
  margin: 0;
  width: 100%;
  height: 50px;
}
/* line 8, ../sass/_header.scss */
.header .brand {
  font-size: 30px;
  text-transform: bold;
  float: left;
  padding: 15px 0 0 100px;
  font-family: 'Pacifico', cursive;
}
@media screen and (max-width: 480px) {
  /* line 8, ../sass/_header.scss */
  .header .brand {
    width: 100%;
    text-align: center;
    float: none;
    padding: 0;
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 8, ../sass/_header.scss */
  .header .brand {
    padding: 15px 0 0 20px;
  }
}
/* line 27, ../sass/_header.scss */
.header .navbar {
  float: right;
}
@media screen and (max-width: 480px) {
  /* line 27, ../sass/_header.scss */
  .header .navbar {
    display: none;
  }
}
/* line 34, ../sass/_header.scss */
.header .navbar ul {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 480px) {
  /* line 34, ../sass/_header.scss */
  .header .navbar ul {
    padding: 0;
    margin: 0;
  }
}
/* line 43, ../sass/_header.scss */
.header .navbar li {
  list-style: none;
  display: inline-block;
}
/* line 50, ../sass/_header.scss */
.header .navbar a {
  font-family: 'Pacifico', cursive;
  display: block;
  text-decoration: none;
  color: #999;
  padding: 25px 50px 0 0;
}
/* line 60, ../sass/_header.scss */
.header .navbar a:hover {
  color: #333;
  text-decoration: underline;
}

/* line 14, ../sass/_jumbotron.scss */
.jumbotron {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* line 20, ../sass/_jumbotron.scss */
.jumbotron .image {
  height: 400px;
  background: url(../img/jumbotron.jpg) center center;
  background-size: cover;
}
@media screen and (max-width: 480px) {
  /* line 20, ../sass/_jumbotron.scss */
  .jumbotron .image {
    height: 200px;
  }
}
/* line 30, ../sass/_jumbotron.scss */
.jumbotron .image h1 {
  padding-top: 150px;
  text-align: center;
  color: #fff;
  font-family: 'Lobster', cursive;
}
@media screen and (max-width: 480px) {
  /* line 30, ../sass/_jumbotron.scss */
  .jumbotron .image h1 {
    padding-top: 30px;
  }
}
/* line 42, ../sass/_jumbotron.scss */
.jumbotron .image p {
  margin-top: -20px;
  text-align: center;
  color: #fff;
  font-family: 'Indie Flower', cursive;
}
@media screen and (max-width: 480px) {
  /* line 42, ../sass/_jumbotron.scss */
  .jumbotron .image p {
    margin-top: 0;
  }
}
/* line 53, ../sass/_jumbotron.scss */
.jumbotron .image .btn {
  text-align: center;
}
/* line 55, ../sass/_jumbotron.scss */
.jumbotron .image .btn .button {
  margin-top: 30px;
  display: inline-block;
  padding: 15px 25px 15px 25px;
  border: 2px solid #4682b4;
  border-radius: 7px;
  font-size: 80%;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#a0bfda), to(steelblue));
  background-image: -webkit-linear-gradient(top, #a0bfda, steelblue);
  background-image: -moz-linear-gradient(top, #a0bfda, steelblue);
  background-image: -ms-linear-gradient(top, #a0bfda, steelblue);
  background-image: -o-linear-gradient(top, #a0bfda, steelblue);
  background-image: linear-gradient(to bottom, #a0bfda, #4682b4);
}
@media screen and (max-width: 480px) {
  /* line 55, ../sass/_jumbotron.scss */
  .jumbotron .image .btn .button {
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border: 2px solid #4682b4;
    border-radius: 5px;
    font-size: 80%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a0bfda), to(steelblue));
    background-image: -webkit-linear-gradient(top, #a0bfda, steelblue);
    background-image: -moz-linear-gradient(top, #a0bfda, steelblue);
    background-image: -ms-linear-gradient(top, #a0bfda, steelblue);
    background-image: -o-linear-gradient(top, #a0bfda, steelblue);
    background-image: linear-gradient(to bottom, #a0bfda, #4682b4);
  }
}
/* line 82, ../sass/_jumbotron.scss */
.jumbotron .image .btn .button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d7e4ef), to(steelblue));
  background-image: -webkit-linear-gradient(top, #d7e4ef, steelblue);
  background-image: -moz-linear-gradient(top, #d7e4ef, steelblue);
  background-image: -ms-linear-gradient(top, #d7e4ef, steelblue);
  background-image: -o-linear-gradient(top, #d7e4ef, steelblue);
  background-image: linear-gradient(to bottom, #d7e4ef, #4682b4);
}

/* line 3, ../sass/_wrapper.scss */
.wrapper {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  height: auto;
}
/* line 8, ../sass/_wrapper.scss */
.wrapper .hLine {
  width: 100%;
}
/* line 11, ../sass/_wrapper.scss */
.wrapper .hLine .horizontal {
  float: left;
  width: 35%;
  border-top: 2px solid #999;
}
/* line 19, ../sass/_wrapper.scss */
.wrapper .hLine .text {
  margin: 0;
  float: left;
  text-align: center;
  width: 30%;
  font-size: 30px;
  color: #666;
  font-family: 'Lobster', cursive;
}
@media screen and (max-width: 480px) {
  /* line 19, ../sass/_wrapper.scss */
  .wrapper .hLine .text {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  /* line 19, ../sass/_wrapper.scss */
  .wrapper .hLine .text {
    font-size: 16px;
  }
}
/* line 37, ../sass/_wrapper.scss */
.wrapper .gallery {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 100%;
}
/* line 42, ../sass/_wrapper.scss */
.wrapper .gallery img {
  width: 30%;
  height: 200px;
  padding: 10px 10px 20px 20px;
}
@media screen and (max-width: 480px) {
  /* line 42, ../sass/_wrapper.scss */
  .wrapper .gallery img {
    width: 46%;
    padding: 10px 5px 0 5px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  /* line 42, ../sass/_wrapper.scss */
  .wrapper .gallery img {
    width: 46%;
    padding: 10px 5px 0 5px;
    height: 150px;
  }
}
/* line 58, ../sass/_wrapper.scss */
.wrapper .gallery img:hover {
  opacity: 0.5;
}
/* line 64, ../sass/_wrapper.scss */
.wrapper .about {
  width: 100%;
  margin-top: 40px;
}
/* line 68, ../sass/_wrapper.scss */
.wrapper .about .section {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px 10px 20px 20px;
}
@media screen and (max-width: 480px) {
  /* line 68, ../sass/_wrapper.scss */
  .wrapper .about .section {
    float: left;
    text-align: center;
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  /* line 68, ../sass/_wrapper.scss */
  .wrapper .about .section {
    float: left;
    text-align: center;
    width: 100%;
    padding: 0;
  }
}
/* line 85, ../sass/_wrapper.scss */
.wrapper .about .section img {
  height: 100px;
  width: 120px;
}
/* line 91, ../sass/_wrapper.scss */
.wrapper .about .section h1 {
  color: #666;
  font-family: 'Lobster', cursive;
  text-decoration: underline;
}
/* line 97, ../sass/_wrapper.scss */
.wrapper .about .section p {
  color: #888;
  font-family: 'Indie Flower', cursive;
}

/* line 3, ../sass/_footer.scss */
footer {
  margin: 0;
  width: 100%;
  height: 350px;
  background-color: #333;
}
@media screen and (max-width: 480px) {
  /* line 3, ../sass/_footer.scss */
  footer {
    height: auto;
  }
}
@media screen and (max-width: 768px) {
  /* line 3, ../sass/_footer.scss */
  footer {
    height: auto;
  }
}
/* line 15, ../sass/_footer.scss */
footer .footer-wrapper {
  width: 80%;
  margin: 0 auto;
}
/* line 19, ../sass/_footer.scss */
footer .footer-wrapper .post {
  float: left;
  width: 25%;
}
@media screen and (max-width: 480px) {
  /* line 19, ../sass/_footer.scss */
  footer .footer-wrapper .post {
    width: 30%;
  }
}
@media screen and (max-width: 768px) {
  /* line 19, ../sass/_footer.scss */
  footer .footer-wrapper .post {
    width: 30%;
  }
}
/* line 29, ../sass/_footer.scss */
footer .footer-wrapper .post h3 {
  font-family: 'Lobster', cursive;
  color: #777;
  text-decoration: underline;
}
/* line 35, ../sass/_footer.scss */
footer .footer-wrapper .post img {
  padding-bottom: 10px;
  display: block;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 480px) {
  /* line 35, ../sass/_footer.scss */
  footer .footer-wrapper .post img {
    display: inline-block;
    width: 25px;
    height: 25px;
  }
}
/* line 49, ../sass/_footer.scss */
footer .footer-wrapper .photo {
  margin-left: 20px;
  float: left;
  width: 40%;
}
@media screen and (max-width: 480px) {
  /* line 49, ../sass/_footer.scss */
  footer .footer-wrapper .photo {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 49, ../sass/_footer.scss */
  footer .footer-wrapper .photo {
    display: none;
  }
}
/* line 60, ../sass/_footer.scss */
footer .footer-wrapper .photo h3 {
  font-family: 'Lobster', cursive;
  color: #777;
  text-decoration: underline;
}
/* line 66, ../sass/_footer.scss */
footer .footer-wrapper .photo img {
  border: 2px solid #999;
  padding-bottom: 10px;
  width: 100px;
  height: 80px;
}
/* line 73, ../sass/_footer.scss */
footer .footer-wrapper .photo img:hover {
  opacity: 0.7;
}
/* line 79, ../sass/_footer.scss */
footer .footer-wrapper .hero-image {
  float: left;
  width: 25%;
}
@media screen and (max-width: 480px) {
  /* line 79, ../sass/_footer.scss */
  footer .footer-wrapper .hero-image {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  /* line 79, ../sass/_footer.scss */
  footer .footer-wrapper .hero-image {
    width: 70%;
  }
}
/* line 88, ../sass/_footer.scss */
footer .footer-wrapper .hero-image .logo {
  margin-top: 40px;
  font-size: 20px;
  text-transform: bold;
  color: #999;
  padding: 15px 0 0 100px;
  font-family: 'Indie Flower', cursive;
}
@media screen and (max-width: 480px) {
  /* line 88, ../sass/_footer.scss */
  footer .footer-wrapper .hero-image .logo {
    margin: 10px;
    font-size: 14px;
    padding-left: 20px;
  }
}
/* line 105, ../sass/_footer.scss */
footer .footer-wrapper hr {
  margin-top: 50px;
  opacity: 0.1;
}
/* line 110, ../sass/_footer.scss */
footer .footer-wrapper .left {
  float: left;
  font-family: 'Indie Flower', cursive;
  color: #666;
}
@media screen and (max-width: 480px) {
  /* line 110, ../sass/_footer.scss */
  footer .footer-wrapper .left {
    float: none;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* line 110, ../sass/_footer.scss */
  footer .footer-wrapper .left {
    float: none;
    text-align: center;
  }
}
/* line 122, ../sass/_footer.scss */
footer .footer-wrapper .left strong {
  color: #999;
  font-family: 'Indie Flower', cursive;
}
/* line 128, ../sass/_footer.scss */
footer .footer-wrapper .right {
  float: right;
  font-family: 'Indie Flower', cursive;
  color: #666;
}
@media screen and (max-width: 480px) {
  /* line 128, ../sass/_footer.scss */
  footer .footer-wrapper .right {
    float: none;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  /* line 128, ../sass/_footer.scss */
  footer .footer-wrapper .right {
    float: none;
    text-align: center;
  }
}
