@import 'media';

.wrapper{
		margin:0 auto;
		margin-top:50px;
		width:80%;
		height:auto;
		.hLine{
				width:100%;
			
					.horizontal{


						float:left;
						width:35%;
						border-top:2px solid #999;
					}		

					.text{
					@include smallDevice{
					font-size:16px;	
					}
					@include mediumDevice{
					font-size:16px;	
					}
						margin:0;
						float:left;
						text-align:center;
						width:30%;
						font-size:30px;
						color:#666;
						font-family: 'Lobster', cursive;
					}
			}


		.gallery{
				margin-top:40px;
				margin-bottom:50px;
				width:100%;

				img{
				@include smallDevice{
					width:46%;
					padding:10px 5px 0 5px;
					height:150px;
				}
				@include mediumDevice{
					width:46%;
					padding:10px 5px 0 5px;
					height:150px;
				}
					width:30%;
					height:200px;
					padding:10px 10px 20px 20px;
				}

				img:hover{
					opacity:0.5;
				}
		}


		.about{
				width:100%;
				margin-top:40px;

			.section{
					@include smallDevice{
						float:left;
						text-align:center;
						width:100%;
						padding:0;
					}
					@include mediumDevice{
						float:left;
						text-align:center;
						width:100%;
						padding:0;
					}
					float:left;
					text-align:center;
					width:30%;
					padding:10px 10px 20px 20px;
					img{

						height:100px;
						width:120px;	
					}

					h1{
						color:#666;
						font-family: 'Lobster', cursive;
						text-decoration:underline;
					}

					p{
						color:#888;
						font-family: 'Indie Flower', cursive;
					}
			}
		}
}